[package]
name = "pact-protobuf-plugin"
version = "0.2.3"
edition = "2021"
authors = ["Ronald Holshausen <ronald.holshausen@gmail.com>"]
description = "Pact plugin for Protobufs and gRPC"
homepage = "http://www.pactflow.io"
repository = "https://github.com/pactflow/pact-protobuf-plugin"
keywords = ["testing", "pact", "cdc"]
license = "MIT"
exclude = [
    "*.iml"
]

[dependencies]
tonic = "0.8.3"
prost = "0.11.3"
prost-types = "0.11.2"
tokio = { version = "1.23.0", features = ["full"] }
uuid = { version = "1.2.2", features = ["v4"] }
maplit = "1.0.2"
pact_matching = "1.0.1"
pact_models = "1.0.2"
pact_verifier = "0.13.18"
pact-plugin-driver = "0.2.2"
anyhow = "1.0.42"
futures = "0.3.25"
async-trait = "0.1.58"
os_info = "3.0.7"
zip = "0.6.2"
serde_json = "1.0.71"
serde_yaml = "0.9.9"
tempfile = "3.2.0"
itertools = "0.10.1"
md5 = "0.7.0"
base64 = "0.20.0"
bytes = "1.1.0"
clap = { version = "3.2.23", features = ["cargo", "env"] }
hyper = { version = "0.14.23", features = [ "full" ] }
http = "0.2.8"
tower = { version = "0.4.13", features = [ "full" ] }
tower-service = { version = "0.3.2" }
tower-http = { version = "0.3.5", features = [ "full" ] }
http-body = "0.4.5"
tracing = "=0.1.37"
tracing-core = "=0.1.30"
tracing-subscriber = { version = "=0.3.11", features = ["env-filter", "local-time", "tracing-log"] }
tracing-appender = "=0.2.2"
tracing-log = "=0.1.3"
lazy_static = "1.4.0"
ansi_term = "0.12.1"
tracing-bunyan-formatter = "=0.3.2"
chrono = { version = "0.4.19", features = ["std", "clock"], default_features = false }

[dependencies.reqwest]
version = "0.11.13"
default-features = false
features = ["rustls-tls", "rustls-tls-native-roots", "json", "gzip", "deflate"]

[dev-dependencies]
expectest = "0.12"
env_logger = "0.10.0"
serde = "1.0.130"
rocket = "0.5.0-rc.1"
test-log = "0.2.10"
trim-margin = "0.1.0"
pact_consumer = "0.10.0"
home = "0.5.4"
panic-message = "0.3.0"

[build-dependencies]
built = { version = "0.5.1", features = [ "git2" ] }
os_info = "3.0.7"
