name: Release workflow

on:
  release:
    types: [published]

  pull_request:
    branches:
      - main

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: false

jobs:
  build-release:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        include:
          - operating-system: ubuntu-22.04
            targets: x86_64-unknown-linux-gnu,x86_64-unknown-linux-musl,aarch64-unknown-linux-gnu,aarch64-unknown-linux-musl
          - operating-system: windows-latest
            targets: aarch64-pc-windows-msvc,x86_64-pc-windows-msvc
          - operating-system: macos-13
            targets: aarch64-apple-darwin,x86_64-apple-darwin
      fail-fast: false
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: Install stable Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          targets: ${{ matrix.targets }}

      - name: Rust caching
        uses: Swatinem/rust-cache@9d47c6ad4b02e050fd481d890b2ea34778fd09d6 # v2
        with:
          workspaces: rust

      - name: Set up QEMU
        if: runner.os == 'Linux'
        uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3

      - name: Set up Docker Buildx
        if: runner.os == 'Linux'
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3
      - name: Cargo flags
        id: cargo-flags
        shell: bash
        run: |
          if [[ "${{ github.event_name }}" = "release" ]]; then
            echo "flags=--release" >> "$GITHUB_OUTPUT"
          else
            echo "flags=" >> "$GITHUB_OUTPUT"
          fi
      - name: Install Protoc
        uses: arduino/setup-protoc@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Install LLVM
        run: choco install -y llvm
        if: runner.os == 'Windows'
      - run: ./release.sh ${{ runner.os }} ${{ github.ref }} ${{ steps.cargo-flags.outputs.flags }}
        shell: bash
      - name: Upload Release Assets
        if: |
          startsWith(github.ref, 'refs/tags/v')
        id: upload-release-asset
        uses: svenstaro/upload-release-action@ebd922b779f285dafcac6410a0710daee9c12b82 # v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: release_artifacts/*
          file_glob: true
          tag: ${{ github.ref }}
